.form-edit {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2.5rem 0;
}

.form-edit form {
  max-width: 90%;
  background: #f2f2f2;
  padding: 2.5rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.form-edit form h2 {
  text-align: center;
}
